*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

header {
  position: sticky;
  top: 0px;
  background-color: rgba(101,178,198,0.6);
  backdrop-filter: blur(4px);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
}

 .logo{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color:white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(101,178,198,0.6);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
       opacity: 0;
       transform: translateX(50px);
  }
  to{
       opacity: 1;
       transformw: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

 /* début du footer */

.footer {
  position: relative;
  width: 100%;
  background: rgba(101,178,198,0.6);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}


@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

.container{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-box{
  width:50%;
  background-color: red;
  box-shadow: 0 0 20px 0 #999;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
form{
  margin: 35px;
  display: flex;
  flex-direction: column;
}
.input-field{
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(101,178,198,0.6);
  border-radius: 14px;
  outline: none;
}
.textarea-field{
  height: 150px;
  padding-top: 10px;
}
.btn{
  border-radius: 20px;
  color:#fff;
  margin-top: 18px;
  padding:10px;
  background-color: rgba(101,178,198,0.6);
  font-size: 12px;
  border: none;
  cursor:pointer;
}
.evenement{
  display: flex;
  background-color:rgba(101,178,198,0.6); 
  margin-top: 60px;
  margin-bottom: 60px;
  color: #fff;  
  width: 50%;
}

.coord{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
.map{
  width: 80%;
  height: 60%;
}

#back-top {
  position: sticky;
  font-size: 50px;
  background-color: rgba(101,178,198,0.6);
  backdrop-filter: blur(4px);
  bottom: 0px; 
  right:10px; 
  width:50px;
  height: 50px;
  z-index: 10;
  border-radius: 50%;
}
a#back-top:active {
  background:none;
}
a#back-top {
  display: block; 
  text-decoration: none;
}
.topup {
  bottom:5px;
}
#back-top i {
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(101,178,198,0.6);
}
.grannybbw{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
i{
  z-index: 10;
  border-radius: 50%;
  color: #fff;
}